In [24]:
import numpy as np
import pandas as pd
from math import log

In [25]:
k = 4

In [29]:
F = [
lambda K,L: (8+k//4) * K**0.3 * L**0.6,
lambda K,L: (4 + k/2 - k//2) * K + (7 - k//6) * L,
lambda K,L: (3/2 + (k+1)//4) * min((4 + k/2 - k//2) * K, (7 - k//6) * L),
lambda K,L: 34/3 * K**0.5 + 15 * L**0.5,
lambda K,L: (15-k//5) * (1/(3*K**3) + 2/(3*L**3))**(-1/4) if (K>0 and L>0) else 0,
lambda K,L: (17-k//3) * log((K+1)*(2*L+1)),
lambda K,L: (5+k-k//2) * K**0.4 * L**0.6,
lambda K,L: (7+k/2-k//2) * K**0.7 * L**0.3,
lambda K,L: (log(3*k)) * min((4 + k/2 - k//2) * K, (7 - k//6) * L)
]

In [30]:
K_ = 10 + k//4
L_ = 18 - k//5
K_,L_

(11, 18)

In [31]:
pd.DataFrame([F[i](1,1) for i in range(len(F))])

           0
0   9.000000
1  11.000000
2  10.000000
3  26.333333
4  15.000000
5  28.668152
6   7.000000
7   7.000000
8   9.939627